<div class="ui">
  <nav class="navbar app">Codefest</nav>
  <nav class="navbar board">Router diagnostics chatbot</nav>
  <div class="lists">
    <div class="list" *ngFor="let task of todoList">
      <header>TODO</header>
      <ul>
        <li>
          <span class="name-label">{{task.name}}</span><br><br>
          {{task.description}}<br>
          <a class="messenger-btn" href="{{task.description.split('Messenger: ' )[1]}}" target="_blank">Open in
            Messenger</a>
        </li>
      </ul>
      <footer></footer>
    </div>
    <div class="list">
      <header>IN PROGRESS</header>
      <ul>
        <li *ngFor="let task of progressList">
          <span class="name-label">{{task.name}}</span><br><br>
          {{task.description}}<br>
          <a class="messenger-btn" href="{{task.description.split('Messenger: ' )[1]}}" target="_blank">Open in
            Messenger</a>
        </li>
      </ul>
      <footer></footer>
    </div>
    <div class="list">
      <header>DONE <br><i>bot solved: {{solved_bot}}/{{doneList.length}} </i></header>
      <ul>
        <li *ngFor="let task of doneList">
          <span class="name-label">{{task.name}}</span><br><br>
          {{task.description}}
          <br>
          <a class="messenger-btn" href="{{task.description.split('Messenger: ' )[1]}}" target="_blank">Open in
            Messenger</a>
        </li>
      </ul>
      <footer></footer>
    </div>
  </div>
</div>
