.resource-form {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 16px;
}

.resource-form .mat-form-field {
  width: 100%;
}

.items-content {
  padding-top: 1.2em !important;
}

.items-label {
  padding-right: 10px;
}

.resource-buttons {
  padding-right: 15px;
  padding-bottom: 40px;
  justify-content: end;
}

.resource-buttons .mat-raised-button {
  height: 35px;
  margin-left: 5px;
  float: right;
}

.horizontal {
  display: initial;
}

.vertical {
  display: inline-flex;
  flex-direction: column;
}

.mat-checkbox, .mat-radio-button {
  margin: 5px;
}

.mat-error, .mat-hint {
  font-size: 11px;
  display: flex;
}
