.table-buttons-container {
  justify-content: flex-end;
  width: 100%;
}

.mat-card-title {
  width: max-content;
  width: -moz-max-content;
}

.table-buttons-container .mat-raised-button {
  height: 35px;
  margin-left: 5px;
  float: right;
}
