<mat-card class="table-card">
  <mat-card-header>
    <div class="table-buttons-container">
      <ng-container *ngFor="let button of buttons">
        <button mat-raised-button [ngClass]="button.classes ? button.classes : ''" (click)="emitButton(button.name)"
                [color]="button.color ? button.color : ''">
          <mat-icon *ngIf="button.icon">{{button.icon}}</mat-icon><span *ngIf="button.icon">&nbsp;</span>
          <span *ngIf="button.text">{{button.text | translate}}</span>
        </button>
      </ng-container>
    </div>
    <mat-card-title>{{title | translate}}
      <mat-card-subtitle>{{subtitle | translate}}</mat-card-subtitle>
    </mat-card-title>
  </mat-card-header>
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let col of columns">
      <ng-container matColumnDef="{{col.name}}" [ngSwitch]="col.type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
                         [ngStyle]="{'flex': col.options?.flex, 'max-width': col.options?.width,
                         'justify-content': col.options?.alignment}"
                         [disabled]="col.type === colType.ACTION || col.options?.sortable === false">
          {{col.title | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row;" [ngStyle]="{'flex': col.options?.flex, 'max-width': col.options?.width,
        'justify-content': col.options?.alignment}">
          <ng-container *ngSwitchCase="colType.INTEGER">
            {{transformElement(col, row)}}
          </ng-container>
          <ng-container *ngSwitchCase="colType.DECIMAL">
            {{transformElement(col, row) | number:'1.2-4'}}
          </ng-container>
          <ng-container *ngSwitchCase="colType.STRING">
            <span class="pre-line" [innerHTML]="transformElement(col, row)"></span>
          </ng-container>
          <ng-container *ngSwitchCase="colType.BOOLEAN">
            <mat-icon *ngIf="transformElement(col, row) === null" class="yellow">report</mat-icon>
            <mat-icon *ngIf="transformElement(col, row)" class="green">check_circle</mat-icon>
            <mat-icon *ngIf="!transformElement(col, row) && transformElement(col, row) !== null" class="red">
              remove_circle
            </mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="colType.DATE">
            <ng-container *ngIf="transformElement(col, row) != '-'">
              {{transformElement(col, row) | date:(dateFormat | translate)}}
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="colType.TIME">
            <ng-container *ngIf="transformElement(col, row) != '-'">
              {{transformElement(col, row) | date:(timeFormat | translate)}}
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="colType.DATETIME">
            <ng-container *ngIf="transformElement(col, row) != '-'">
              {{transformElement(col, row) | date:(dateTimeFormat | translate)}}
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="colType.ACTION">
            <ng-container *ngFor="let action of actions">
              <button mat-icon-button (click)="emitAction(action.name, row)"
                      *ngIf="!action.excludeIds || action.excludeIds.indexOf(row.id) === -1"
                      [ngClass]="action.classes ? action.classes : ''">
                <mat-icon [matTooltip]="action?.tooltip | translate" [matTooltipShowDelay]="500"
                          [matTooltipPosition]="'above'">{{action.icon}}
                </mat-icon>
              </button>
            </ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns();"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="total"
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageOptions">
  </mat-paginator>
</mat-card>
<app-local-spinner *ngIf="loading" [margin]="'-60px 0 0 0'"></app-local-spinner>

